# Modified mongod.cfg with Replication Enabled
# Copy this to: C:\Program Files\MongoDB\Server\8.3\bin\mongod.cfg

storage:
  dbPath: C:\Program Files\MongoDB\Server\8.3\data

systemLog:
  destination: file
  logAppend: true
  path: C:\Program Files\MongoDB\Server\8.3\log\mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1

replication:
  replSetName: rs0
